.header {
    background-color: darkslategray;
    color: chartreuse;
    text-align: center;
}

.main {
    background-color: lightgray;
    padding: 1em;
}

body {
    margin: 0;
}

.record {
    background-image: url(./record.png);
    background-repeat: repeat;
}